@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.upload-input{
    &__form{
        @include flex-column;
        @include flex-center-items;
        gap: .9375rem;
        margin-left: 1.5625rem;
    }
    &__title-wrapper, &__description-wrapper{
        @include flex-column;
        gap: .3125rem;
    }
    &__title-label{
        @include video-info;
    }
    &__video-title{
        background-color: $alabaster;
        border: solid .125rem $mercury;
        color: $primary-black;
        width: 80vw;
        margin-right: 20px;
        max-height: 2.1875rem;
        padding: .9375rem;
        border-radius: .25rem;
        position: relative;
        transition: background-color  0.3s ease;

        &::placeholder{
            @include body;
        }
        // when the input has text
        &:not(:placeholder-shown) {
            @include body;
            color: $primary-black;
        }
        // focus state styling
        &:focus {
            border-color: $primary-blue;
            outline: none;
            @include body;
        }
    }
    &__description-label{
        @include video-info;
    }
    &__video-description{
        padding: .625rem;
        background-color: $alabaster;
        color: $primary-black;
        width: 86vw;
        margin-right: 15px;
        height: 14vh;
        border: .125rem solid $mercury;
        border-radius: .25rem;
        box-sizing: border-box;
        transition: background-color  0.3s ease;

        &::placeholder{
            @include body;
        }
        &:not(:placeholder-shown) {
            @include body;
            color: $primary-black;
        }
        &:focus {
            border-color: $primary-blue;
            @include body;
            outline: none; 
        }
    }

    @include tablet{
        &__title-wrapper, &__description-wrapper{
            margin-left: 1.25rem;
        }
        &__video-title{
            width: 84vw;
        }
        &__video-description{
            width: 87.5vw;
        }
    }

    @include desktop{

        &__form{
            @include flex-column;
            justify-content: flex-start;
            align-items: center;
            margin: 6.875rem 2rem 0 0;
        }
        &__title-wrapper, &__description-wrapper{
            margin-left: 2rem;
        }
        &__video-title{
            width: 47.5vw;
        }
        &__video-description{
            width: 50vw;
        }
        
    }
}

.btns{
    @include flex-column;
    @include flex-center-items;
    padding-top: 1.875rem;
    margin: 0.875rem 0 0 1.5625rem;
    position: relative;

        &::before { 
            content: "";
            position: absolute;
            left: 46%;
            width: 95%;
            height: .0625rem;
            background-color: $mercury;
            transform: translateX(-50%);
        }
            &::before {
                top: 0;
            };

    &__publish{
        @include flex-center-content;
        flex-wrap: wrap;
        background-color: $primary-blue;
        color: $white;
        max-height: 2.5rem;
        width: 85vw;
        right: 3%;
        margin: 0 .9375rem 1.25rem 0;
        padding: 2rem;
        border-radius: .25rem;
        position: relative;
        border: none;
    
        &::before {
            content: "";
            position: absolute;
            background: url("../../assets/Icons/publish.svg") no-repeat center;
            background-size: 1.875rem;
            left: .625rem;
            top: 25%;
            height: 2rem;
            width: 2rem;
        }
        &:hover{
            background-color: $secondary-darkBlue;
        }
    }
    &__cancel{
        @include flex-center-content;
        flex-wrap: wrap;
        background-color: $white;
        color: $primary-blue;
        max-height: 2.5rem;
        width: 85vw;
        right: 3%;
        margin-right: 15px;
        padding: 2rem;
        border-radius: .25rem;
        position: relative;
        border: none;
        margin-bottom: 1.25rem;
    }

    @include tablet{
        flex-direction: row-reverse;
        justify-content: flex-start;
        margin: 2rem 2.8rem 0 0;
        
        &::before { 
            left: 55%;
            width: 177%;
        }
    
        &__publish,  &__cancel{
            width: 23vw;
        }
    }
    @include desktop{
        flex-direction: row-reverse;
        justify-content: flex-start;
        margin: 17.5rem -14rem -11rem 0;
        position: fixed;
        
        
        &::before { 
            left: 30%;
            width: 130%;
        }
    
        &__publish,  &__cancel{
            width: 18vw;
        }
        
    }
}