@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.upload-input{
    &__form{
        @include flex-column;
        @include flex-center-items;
        gap: .9375rem;
        margin-left: 1.5625rem;
    }
    &__title-wrapper, &__description-wrapper{
        @include flex-column;
        gap: .3125rem;
    }
    &__title-label{
        @include video-info;
    }
    &__video-title{
        background-color: $alabaster;
        border: solid .125rem $mercury;
        width: 80vw;
        margin-right: 20px;
        max-height: 2.1875rem;
        padding: .9375rem;
        border-radius: .25rem;
        position: relative;
        transition: background-color  0.3s ease;

        &::placeholder{
            @include body;
        }
        // when the input has text
        &:not(:placeholder-shown) {
            @include body;
            color: $primary-black;
        }
        // focus state styling
        &:focus {
            border-color: $primary-blue;
            outline: none;
            @include body;
        }
    }
    &__description-label{
        @include video-info;
    }
    &__video-description{
        padding: .625rem;
        background-color: $alabaster;
        color: $primary-black;
        width: 86vw;
        margin-right: 15px;
        height: 14vh;
        border: .125rem solid $mercury;
        border-radius: .25rem;
        box-sizing: border-box;
        transition: background-color  0.3s ease;

        &::placeholder{
            @include body;
        }
        &:not(:placeholder-shown) {
            @include body;
            color: $primary-blue;
        }
        &:focus {
            border-color: $primary-blue;
            @include body;
            outline: none; 
        }
    }

    @include tablet{
        &__title-wrapper, &__description-wrapper{
            margin-left: 1.25rem;
        }
        &__video-title{
            width: 85vw;
        }
        &__video-description{
            width: 87.5vw;
        }
    }

    @include desktop{

        &__form{
            @include flex-column;
            justify-content: flex-start;
            align-items: center;
            margin: 6.875rem 2rem 0 0;
        }
        &__title-wrapper, &__description-wrapper{
            margin-left: 2rem;
        }
        &__video-title{
            width: 47vw;
        }
        &__video-description{
            width: 50vw;
        }
        
    }
}