@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comments{

    &__length{
        @include comments-length;
        margin-bottom: -5px;
        margin-left: 20px;
    }

    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        align-items: flex-start;
        margin-left: 6.25rem;
    }
    &__join-convo{
        @include videoList;
        margin-bottom: .625rem;

    }
    &__textarea{
        padding: .625rem;
        background-color: $alabaster;
        color: $primary-black;
        width: 70vw;
        height: 14vh;
        margin-right: 2.5rem;
        border: .0625rem solid $mercury;
        border-radius: 4px;
        box-sizing: border-box;
        transition: background-color  0.3s ease;

        &::placeholder{
            @include body;
        }
        &:not(:placeholder-shown) {
            @include body;
            color: $primary-black;
        }
        &:focus {
            border-color: $primary-black;
            @include body;
            outline: none; 
        }


    }
    &__main-img{
        height: 3.25rem;
        width: 3.25rem;
        border-radius: 50%;
        margin-left: 1.5625rem;
        margin-bottom: -4.6875rem;
    }
    &__add-btn{
        margin-top: 1.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary-blue;
        color: $white;
        border: none;
        border-radius: .25rem;
        height: 2.5rem;
        padding: 0 2rem;
        width: 70vw;
    }
    @include tablet {
        // Tablet-specific styles
        &__length{
            margin-left: 2.1875rem;
        }
        &__wrapper{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }
        &__textarea-comment{
            display: flex;
            flex-direction: row;
        }
        &__textarea{
            width: 66vw;
            height: 2.1875rem;
            margin-right: 2.5rem;
        }
        &__main-img{
            margin-left: 1.5625rem;
            margin-bottom: -4.6875rem;
        }
        &__add-btn{
            margin-top: -0.1rem;
            margin-left: -1.5625rem;
            width: 17vw;
            height: 2.1875rem
        }
      }
    
      @include desktop {
        // Desktop-specific styles
        &__length{
            margin-left: 2.1875rem;
        }
        &__wrapper{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }
        &__textarea-comment{
            display: flex;
            flex-direction: row;
        }
        &__textarea{
            width: 66vw;
            height: 2.1875rem;
            margin-right: 2.5rem;
        }
        &__main-img{
            margin-left: 1.5625rem;
            margin-bottom: -4.6875rem;
        }
        &__add-btn{
            margin-top: -0.1rem;
            margin-left: -1.5625rem;
            width: 17vw;
            height: 2.1875rem
        }
    }
}
    
