@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


header{
    @include flex-column;
    align-items: center;
    flex-wrap: nowrap;

    @include tablet {
        @include flex-row;
        justify-content: space-between;

        .header-logo__img {
            order: 1;
        }
        .header-input__search-box{
            order: 2;
        }
        .upload__btn{
            order: 3;
        }
        .header-img__profile-img {
            order: 4;
        }
    }

    @include desktop{
        @include flex-row;
        justify-content: space-around;

        .header-logo__img {
            order: 1;
        }
        .header-input__search-box{
            order: 2;
        }
        .upload__btn{
            order: 3;
        }
        .header-img__profile-img {
            order: 4;
        }
    }
}

.header-logo{
    @include flex-row;

    &__img{
        max-height: 1.5625rem;
        max-width: 7.5rem;
        padding: 1.25rem;
        margin: .625rem 0 -1.25rem 0;
    }

    @include tablet{
        &__img{
            padding: 2rem;
            margin: -.625rem 0 -1.25rem 0;
        }
    }
    @include desktop{
        margin-left: 1.875rem;
        &__img{
            padding: 2rem;
            margin: -.625rem 0 -1.25rem 0;
        }
    }
}

.header-img{
    display: none;

    @include tablet{
        display: flex;
        margin: 10px 1.5625rem 0 -3.75rem;

        &__profile-img{
            border-radius: 50%;
            height: 3.25rem;
            width: 3.25rem;
            margin-top: -0.3125rem;
        }
    }
    @include desktop{
        margin: 0 7rem 0 2rem;

        &__profile-img{
            display: flex;
            border-radius: 50%;
            height: 3.25rem;
            width: 3.25rem;
            margin-top: -0.3125rem;
        }
    }
}

.header-input{
    @include flex-row;
    padding: 20px;
    gap: .9375rem;

    &__profile-img--mobile{
        border-radius: 50%;
        height: 3.25rem;
        width: 3.25rem;
        margin-top: -0.3125rem;
    }

    &__search-box{
        background-color: $alabaster;
        border: solid .125rem $mercury;
        width: 64vw;
        max-height: 2.1875rem;
        padding: .9375rem .9375rem .9375rem 2.65rem;
        border-radius: .25rem;
        position: relative;
        transition: background-color  0.3s ease;
        background: url("../../assets/Icons/search.svg") no-repeat left center;
        background-size: 1.5rem; 
        background-position: 0.75rem center;

        &::placeholder{
            @include body;
        }
        // when the input has text
        &:not(:placeholder-shown) {
            @include body;
            color: $primary-black;
        }
        // focus state styling
        &:focus {
            border-color: $primary-blue;
            outline: none;
            @include body;
        }
    }
    @include tablet{
        &__profile-img--mobile{
            display: none;
        }
        &__search-box{
            width: 30vw;
        }
    }
    @include desktop{
        &__profile-img--mobile{
            display: none;
        }
        &__search-wrapper{
            margin-left: 20rem;
        }
        &__search-box{
            width: 17vw;
        }
    }
}


.upload{
    @include flex-center-items;

    &__btn{
        @include flex-center-content;
        flex-wrap: wrap;
        background-color: $primary-blue;
        color: $white;
        max-height: 2.5rem;
        width: 90vw;
        padding: 2rem;
        border-radius: .25rem;
        position: relative;
        border: none;
        margin-bottom: 1.25rem;

        &::before {
            content: "";
            position: absolute;
            background: url("../../assets/Icons/upload.svg") no-repeat center;
            background-size: 1.875rem;
            left: .625rem;
            top: 25%;
            height: 2rem;
            width: 2rem;
        }
        &:hover{
            background-color: $secondary-darkBlue;
        }
    }
    @include tablet{
        
        &__btn{
            width: 20vw;
            padding: 1.5rem;
            margin-left: -100px;
            margin-top: 20px;

            &::before {
                top: 20%;
            }
        }

    }
    @include desktop{
        margin-left: 6.25rem;

        &__btn{
            width: 17vw;
            padding: 1.5rem;

        }
    }
}