@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.hero{
    margin-left: 1.875rem;
    @include flex-column;
    justify-content: flex-start;

    &__title{
        @include page-header;
        position: relative;
        padding-top: 20px;
        
        &::before { 
            content: "";
            position: absolute;
            left: 45%;
            width: 120%;
            height: .0625rem;
            background-color: $mercury;
            transform: translateX(-50%);
        }
            &::before {
                top: 0;
            }
    }
    &__subtitle{
        @include video-info;

    }
    &__img-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img{
        width: 95vw;
        height: 100%;
        background-color: $mercury;
        margin-bottom: 30px;
    }

    @include tablet{

    }
    @include desktop{

    }
}

.upload-input{


    &__form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .9375rem;
    }
    &__title-wrapper, &__description-wrapper{
        @include flex-column;
        gap: .3125rem;
    }
    &__title-label{
        @include video-info;
    }
    &__video-title{
        background-color: $alabaster;
        border: solid .125rem $mercury;
        width: 83vw;
        max-height: 2.1875rem;
        padding: .9375rem;
        border-radius: .25rem;
        position: relative;
        transition: background-color  0.3s ease;

        &::placeholder{
            @include body;
        }
        // when the input has text
        &:not(:placeholder-shown) {
            @include body;
            color: $primary-black;
        }
        // focus state styling
        &:focus {
            border-color: $primary-blue;
            outline: none;
            @include body;
        }

    }
    &__description-label{
        @include video-info;
    }
    &__video-description{
        padding: .625rem;
        background-color: $alabaster;
        color: $primary-black;
        width: 88vw;
        height: 14vh;
        border: .125rem solid $mercury;
        border-radius: 4px;
        box-sizing: border-box;
        transition: background-color  0.3s ease;

        &::placeholder{
            @include body;
        }
        &:not(:placeholder-shown) {
            @include body;
            color: $primary-blue;
        }
        &:focus {
            border-color: $primary-blue;
            @include body;
            outline: none; 
        }

    }

    @include tablet{

    }
    @include desktop{
        
    }
}

.btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.875rem;

    &__publish{
        @include flex-center-content;
        flex-wrap: wrap;
        background-color: $primary-blue;
        color: $white;
        max-height: 2.5rem;
        width: 87vw;
        padding: 2rem;
        border-radius: .25rem;
        position: relative;
        border: none;
        margin-bottom: 1.25rem;
    
        &::before {
            content: "";
            position: absolute;
            background: url("../../assets/Icons/publish.svg") no-repeat center;
            background-size: 1.875rem;
            left: .625rem;
            top: 25%;
            height: 2rem;
            width: 2rem;
        }
        &:hover{
            background-color: $secondary-darkBlue;
        }
    }

    &__cancel{
        @include flex-center-content;
        flex-wrap: wrap;
        background-color: $white;
        color: $primary-blue;
        max-height: 2.5rem;
        width: 87vw;
        padding: 2rem;
        border-radius: .25rem;
        position: relative;
        border: none;
        margin-bottom: 1.25rem;
    

    }

    @include tablet{

    }
    @include desktop{
        
    }
}
