@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.video-player{

    &__video-wrapper{
        background-color: $primary-black;
    }
    &__video{
        width: 100%;
        height: 35vh;
        object-position: center;
    }

    @include tablet {
        &__video{
            height: 65vh;
        }
      }
    
      @include desktop {
        &__video{
            height: 75vh;
        }
      }
}