@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comments-list{
    display: flex;
    flex-direction: column;

    &__item{
        @include flex-row;
        justify-content: space-around;
        align-items: flex-start;
        @include body;
        position: relative;
        
        &::before, &::after { 
            content: "";
            position: absolute;
            left: 48%;
            width: 100%;
            height: .0625rem;
            background-color: $mercury;
            transform: translateX(-50%);
        }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
    }
    &__profile-img{
        border-radius: 50%;
        height: 3.25rem;
        width: 3.25rem;
        margin: .9375rem 1rem 0 -0.625rem;
    }
    &__text-wrapper{
        @include flex-column;
        justify-content: flex-start;
    }
    &__name{
        @include subheader;

    }
    &__content{
        margin-top: -0.3125rem;

    }
    &__date{
        @include videoList;
        margin-right: 2.1875rem;
    }

    h3{
        @include space-between;
    }

    @include tablet{
        &__item{
        
            &::before, &::after { 
                left: 47%;
                width: 96%;
            }
    
        }
        &__profile-img{
            margin: .9375rem -1.25rem 0 -0.625rem;
        }
        &__text-wrapper{
            margin-left: 2.5rem;
        }
        &__date{
            margin-right: 3.125rem;
        }

    }
    @include desktop{
        margin: 0 18rem 0 2.8125rem;

        &__item{
        
            &::before, &::after { 
                left: 48.3%;
                width: 96%;
            }
        }
        &__profile-img{
            margin: .9375rem -1.25rem 0 0.625rem;
            height: 2.55rem;
            width: 2.55rem;
        }
        &__text-wrapper{
            margin-left: 2.5rem;
        }
        &__date{
            margin-right: 3.125rem;
        }
        
    }
}