@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.list-title{
    @include videoList;
    margin-left: 20px;

      @include desktop {
        // Desktop-specific styles
        display: flex;
        justify-content: flex-end;
        margin: -39rem 13.75rem -3.125rem 0;
      }
}

.next-videos{
    @include flex-column;
    list-style: none;

    &__item{
        @include flex-row;
        justify-content: flex-start;
        align-items: center;
        gap: 1.875rem;
        margin: 0 1.25rem 0 -1.25rem;
    }
    &__img{
      border-radius: .25rem;  
      width: 9rem;
      max-height: 15vh;
      margin-bottom: -0.625rem;

    }
    &__text{
        @include flex-column;
        justify-content: space-evenly;
        
    }
    &__title{
        @include subheader;
    }
    &__creator{
        @include nextVideo-creator;
  
    }

    @include tablet {
        // Tablet-specific styles
        &__title{
          display: flex;
          flex-wrap: wrap;
      }
      }
    
      @include desktop {
        // Desktop-specific styles
        margin-top: 685px;
        position: relative;
        margin-left: -12.5rem;
          
          &::before {
              content: "";
              position: absolute;
              top: -3rem;
              bottom: 0;
              left: -5rem; 
              width: .625rem;
              height: 100vh;
              border-left: .0625rem solid $mercury;
          }

        &__item{
            justify-content: flex-start;
            gap: .625rem;
            margin: 0 2rem 0 -5rem;
        }
        &__img{
          border-radius: .25rem;  
          width: 6rem;
          height: 4.375rem;
    
        }
        &__text{
            margin-right: 4rem;
                        
        }
        &__title{
            @include section-header;
        }
        &__creator{
            @include body;
            // margin-top: -0.625rem;
        }
      }
}
