@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.list-title{
    @include videoList;
    margin-left: 20px;

    @include tablet {
        // Tablet-specific styles
      }
    
      @include desktop {
        // Desktop-specific styles
        display: flex;
        justify-content: flex-end;
        margin-right: 220px;
        margin-bottom: -50px;
        margin-top: -630px;
      }
    
}

.next-videos{
    display: flex;
    flex-direction: column;
    list-style: none;

    &__item{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1.875rem;
        margin: 0 1.25rem 0 -1.25rem;
    }
    &__img{
      border-radius: .25rem;  
      width: 9rem;
      max-height: 15vh;
      margin-bottom: -10px;

    }
    &__text{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }
    &__title{
        @include subheader;
    }
    &__creator{
        @include nextVideo-creator;
  
    }

    @include tablet {
        // Tablet-specific styles
        &__title{
          display: flex;
          flex-wrap: wrap;
      }
      }
    
      @include desktop {
        // Desktop-specific styles
        margin-left: 870px;
        margin-top: 70px;
        position: relative;
          
          &::before {
              content: "";
              position: absolute;
              top: 0;
              bottom: 0;
              left: 7.8125rem; // Adjust this value to bring the border closer
              width: .625rem;
              border-left: .0625rem solid $mercury;
          }

        &__item{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: .625rem;
            margin: 0 0.25rem 0 6.5rem;
        }
        &__img{
          border-radius: .25rem;  
          width: 5rem;
          max-height: 20vh;
          margin-bottom: 40px;
    
        }
        &__text{
            display: flex;
            flex-direction: column;
            margin-right: 4.375rem;
                        
        }
        &__title{
            @include section-header;
            margin-top: -1.25rem;
        }
        &__creator{
            @include body;
            margin-top: -0.625rem;
        }
        
       
      }
    
}
