@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comments{

    &__length{
        @include comments-length;
        margin: 1.25rem 0 -0.3125rem 1.25rem;
    }
    &__wrapper{
        @include flex-column;
        @include flex-center-content;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-left: 6.25rem;
    }
    &__join-convo{
        @include videoList;
        margin-bottom: .625rem;

    }
    &__textarea{
        padding: .625rem;
        background-color: $alabaster;
        color: $primary-black;
        width: 70vw;
        height: 14vh;
        margin-right: 2.5rem;
        border: .125rem solid $mercury;
        border-radius: 4px;
        box-sizing: border-box;
        transition: background-color  0.3s ease;

        &::placeholder{
            @include body;
        }
        &:not(:placeholder-shown) {
            @include body;
            color: $primary-blue;
        }
        &:focus {
            border-color: $primary-blue;
            @include body;
            outline: none; 
        }
    }
    &__main-img{
        height: 3.25rem;
        width: 3.25rem;
        border-radius: 50%;
        margin: 0 0 -4.6875rem 1.5625rem;
    }
    &__add-btn{
        margin-top: 1.25rem;
        @include flex-center-items;
        background-color: $primary-blue;
        color: $white;
        border: none;
        border-radius: .25rem;
        height: 2.5rem;
        padding: 0 2rem;
        width: 70vw;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background: url("../../assets//Icons/add_comment.svg") no-repeat center;
            background-size: 1.5rem;
            left: .625rem;
            top: 50%;
            transform: translateY(-50%);
            height: 1.15rem;
            width: 1.15rem;
            pointer-events: none;
        }
        &:hover{
            background-color: $secondary-darkBlue;
        }
    }
    @include tablet {
        // Tablet-specific styles
        &__length{
            margin-left: 2.1875rem;
        }
        &__wrapper{
            flex-wrap: nowrap;
        }
        &__textarea-comment{
            @include flex-row;
            margin-bottom: 1.25rem;
        }
        &__textarea{
            width: 66vw;
            height: 2.1875rem;
            margin-right: 2.5rem;
        }
        &__main-img{
            margin: 0 0 -4.6875rem 2rem;
        }
        &__add-btn{
            margin: -0.1rem 0 0 -1.5625rem;
            width: 17vw;
            height: 2.1875rem
        }
      }
    
      @include desktop {
        // Desktop-specific styles
        &__length{
            margin-left: 6rem;
        }
        &__wrapper{
            flex-wrap: nowrap;
            margin-left: 10.9375rem;
            margin-bottom: 1.25rem;
        }
        &__textarea-comment{
            @include flex-row;
            margin-bottom: 1rem;
        }
        &__textarea{
            width: 30vw;
            height: 2.1875rem;
            margin-right: 2.5rem;
        }
        &__main-img{
            margin: 0 0 -4.2rem 6rem;
            height: 2.55rem;
            width: 2.55rem;
        }
        &__add-btn{
            margin: -0.1rem 0 0 -1.5625rem;
            width: 12vw;
            height: 2.1875rem
        }
    }
}
    
