@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.home-flex{

    @include desktop{
        @include flex-row;
        gap: 0;
    
        &__nextVideo{
            display: flex;
            flex-direction: flex-start;
    
        }
    }
}