// primary colours
$primary-black: #323232;
$primary-blue: #0095FF;
$sliver: #AFAFAF;
$white: #FFFFFF;

// secondary colours
$secondary-darkBlack: #000000;
$secondary-darkBlue: #0065AD;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;