@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.video-description{

    &__text{
        @include body;
        display: flex;
        flex-direction: center;
        margin: 0 20px;
        flex-wrap: wrap; 

        @include tablet {
              margin: 0 50px;
          }
        
          @include desktop {
              margin: 0 22.5rem .625rem 5.9375rem;
          }
    }
    
}