@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.video-details{
    width: 100%;
    @include flex-column;

    &__title{
        @include page-header;
        color: $primary-black;
        @include flex-start-justify;
        flex-wrap: wrap;
        margin: 1.25rem;
    }
    &__info{
        @include body;
        color: $primary-black;
        @include flex-row;
        @include flex-start-justify;
        align-items: flex-start;
        margin: 0 0 1.25rem 1.5625rem;
        gap: 4rem;
        position: relative;
        
        &::before, &::after { 
            content: "";
            position: absolute;
            left: 47%;
            width: 95%;
            height: .0625rem;
            background-color: $mercury;
            transform: translateX(-50%);
        }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
        }
    &__info-wrapper{
        @include flex-column;
        align-items: flex-start;
    }
    &__info-likes, &__info-views {
        @include flex-row;
        align-items: center;
        gap: .625rem;
    }
    &__info-left{
        @include flex-column;
    }
    &__channel{
        font-weight: 600;
    }
    &__timestamp{
        @include video-info;
    }
    &__views-img, &__likes-img{
      height: 1.25rem;
      width: 1.25rem;
    }
    &__views, &__likes  {
        @include video-info;
    }
    &__description-text{
        @include body;
        display: flex;
        flex-direction: center;
        margin: 0 20px;
        flex-wrap: wrap; 

    }

    @include tablet {

        &__title{
            margin: 1.25rem 1.25rem 1.25rem 3rem;
        }
        &__info{
            justify-content: space-between;
            margin: 0 2.5rem 1.25rem 2.8rem;
            gap: 0;

            &::before { 
                display: none;
            }
            
            &::after { 
                position: absolute;
                left: 50%;
                width: 100%;
            }
        }
        &__info-wrapper, &__info-left{
            @include flex-row;
            gap: 1.875rem;
        }
        &__description-text{
            margin: 0 3.125rem;
        }
      }
    
      @include desktop {
     
        &__title{
            margin: 1.25rem 1.25rem .3125rem 5.7rem;
        }
        &__info{
            justify-content: space-around;
            margin: 0 4rem 1.25rem -8.5rem;

            &::before { 
                display: none;
            }
            
            &::after { 
                left: 50%;
                width: 65.5%;
            }
            }
        &__info-wrapper, &__info-left{
            @include flex-row;
            gap: 1.875rem;
        }
        &__description-text{
            margin: 0 22.5rem .625rem 5.9375rem;
        }
      }
}