@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.video-description{

    &__text{
        @include body;
        color: $mercury;
        display: flex;
        flex-direction: center;
    }
}